/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}
#top {
    background-color: #ff6200;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 7px;
}
.call-ip {
    display: flex;
    align-items: center;
}
.call-us {
    color: #732800;
    text-transform: uppercase;
}
.ip {
    color: #ffffff;
    padding-left: 10px;
}
.login {
    color: #732800;
    text-decoration: blink;
}
.signup {
    color: #ffffff;
    text-decoration: blink;
}
#header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.YOUR {
    color: #000000;
    font-size: 35px;
}
.LOGO {
    color: #ff6200;
    font-size: 35px;
}
.titles {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
li {
    list-style: none;
    margin-left: 30px;
}
.breadcrumb{
    display: flex;
 }
.breadcrumb li {
    margin: 5px;
}
.breadcrumb li:after{
    content: '/';
    margin-left: 5px;
}
.breadcrumb li:last-child:after {
    display: none;
}
.breadcrumb li:last-child > a {
    color: #000;
}
.breadcrumb > li > a {
    color: #808080;
}
.breadcrumb > li:first-child > a {
}
ul.breadcrumb{
    font-size: 18px;
    padding: 20px 0 20px 0;
}
.ul-titles {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.ul-titles li:hover{
    border-bottom: 1px solid red;
}
.ul-titles li a{
    text-decoration: none;
}
.h2 {
    color: #ff6200;
    padding: 10px 0 9px 0;
    font-size: 26px;
    font-weight: bold;
}
.h3 {
    color: #ff6200;
    font-weight: normal;
    font-size: 20px;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.contact {
    display: flex;
    justify-content: space-between;
}
.form-style {
    display: flex;
    flex-direction: column;
}